:root {
    --tile-size : 100px;
    --light-tile: rgb(234, 190, 190);
    --dark-tile: rgb(168, 78, 36);
    --bg-color: #202020;
}

@media all and (max-width : 450px) {
    :root {
        --tile-size : 50px;
    }
}